body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("greenBackground.jpg");
  background-size: cover;
  color: white;
  font-weight: bold;
  text-align: center;
}


h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  background: goldenrod;
  width: 120px;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 2px;

}